<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="shortcut icon" href="/favicon.ico" />
<meta name="theme-color" content="#8f37fd">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<link href="{{asset("components/data.css")}}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400&subset=latin-ext" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

{% if fulltitle is defined %}
    {% set ctitle = fulltitle %}
{% else %}
    {% set ctitle = title is defined?title~' | '~app['conf.title']:app['conf.title']%}
{% endif %}
<title>{{ctitle}}</title>
{% if meta is defined %}
    {% if meta.meta is defined %}
        {% for key,itm in meta.meta %}
        <meta name="{{key}}" content="{{itm}}">
        {% endfor %}
    {% endif %}
    {% if meta.og is defined %}
        {% for key,itm in meta.og %}
        <meta property="og:{{key}}" content="{{itm}}">
        {% endfor %}
    {% endif %}
{% endif %}
