html, body{
    margin: 0;
    /*min-height: 100%;*/
    color: #333;
    font-family: Roboto, sans-serif;
}
html {
   height: 100%;
}
.inner{
    width: 95%;
    max-width: 960px;
    margin: auto;
    /*overflow: hidden;*/
    display: block;
}
.inner:after{
    content: '';
    clear: both;
}
.sec1{
    background: #8f37fd;
    background: -webkit-linear-gradient(left, #9238fc , #c655ef);
    background: -o-linear-gradient(right, #9238fc, #c655ef);
    background: -moz-linear-gradient(right, #9238fc, #c655ef);
    background: linear-gradient(to right, #9238fc , #c655ef);
    min-height: 720px;
    color: #fff;
}
.sec1.v2{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.sec1.v2 .inner{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
}
.sec1.v2 .inner .topline{
    height: 10%;
    flex: 0 1 0;
}
.sec1.v2 .inner .cont{
    display: flex;
    align-items: center;
    flex: 1;
}
.graph1{
    background: url(../images/index_bg.png);
    background-size: cover;
    background-position: center 0;
    height: 160px;
    width: 100%;
    margin-top: -160px;
    z-index: 5;
}
.graph1.v2{
    height: 90px;
    margin-top: -90px;
}
.topline{
    min-height: 50px;
    line-height: 30px;
}
.topline:after{
    content: '';
    display: block;
    clear: both;
}
.topline .logo{
    display: block;
    float: left;
    width: 33.33%;
    padding: 10px 0;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.topline .logo img{
    width: 34px;
    vertical-align: top;
    margin-right: 2px;
    transition: .3s;
}
.topline .logo:hover img{
    transform: rotate(30deg);
}
.topline .menu1{
    float: left;
    width: 33.33%;
    text-align: center;
}
.topline .menu2{
    float: left;
    width: 33.33%;
    text-align: right;
}
.topline .menu1 a, .topline .menu2 a{
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    font-size: 16px;
    padding: 9px 0;
    display: inline-block;
    margin: 0 10px;
}
.coolbtn{
    display: inline-block;
    background: white;
    color: #8f37fd;
    padding: 13px 55px;
    border-radius: 3px;
    font-size: 17px;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.coolbtn.s2{
    color: #fff;
    background: -webkit-linear-gradient(left, #11d7ff , #6c7fff);
    background: -o-linear-gradient(right, #11d7ff, #6c7fff);
    background: -moz-linear-gradient(right, #11d7ff, #6c7fff);
    background: linear-gradient(to right, #11d7ff , #6c7fff);
}
.coolbtn:hover{
    box-shadow: 0 10px 12px rgba(0,0,0,0.1), 0 6px 3px rgba(0,0,0,0.2);
}
.landingcont{
    padding-top: 14vh;
    color: #fff;
}
.landingcont .lcleft{
    float: left;
    width: 56%;
}
.landingcont .lcright{
    float: right;
    width: 44%;
}
.landingcont .lcleft h2{
    font-size: 36px;
    font-weight: 300;
}
.landingcont .lcleft p{
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
}
.landingcont .lcleft .coolbtn{
    margin-top: 10px;
    margin-right: 10px;
}
.landingcont .lcright{
    background: url(../images/logo2.png);
    background-size: 90% auto;
    background-position: 30px center;
    background-repeat: no-repeat;
    min-height: 70vh;
}


@media(max-width: 500px){
    .landingcont .lcright{
        display: none;
    }
    .landingcont .lcleft{
        width: 100%;
    }
}
