.chatbase{
    display: flex;
    height: 95vh;
    width: 100%;
    background: white;
    color: #333;
    border-radius: 8px 8px 4px 4px;
    z-index: 10;
    position: relative;
    padding: 0;
    overflow: hidden;
    flex-direction: row;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.chatmain{
    display: flex;
    flex-direction: column;
    flex: 1 1 78%;
    background: #f8f4ff;
    overflow: hidden;
}
.chatinfo, .chatinfo2{
    display: flex;
    flex-direction: column;
    flex: 1 1 24%;
    text-align: center;
    /*box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.18);*/
    z-index: 2;
}
.chatinfo2{
    flex: 1 0 0;
}
.chatinfo:not(.chatinfo2){
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.chattop{
    flex: 0 1 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.chatmain .chattop{
}
.chattop .material-icons{
    line-height: inherit;
}
.chattoplogo{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    line-height: 49px;
}
.chattop .left{
    float: left;
    line-height: inherit;
    width: 0;
    margin-right: -10px;
    padding: 0 5px;
}
.chatmain .chattop{
    background: white;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
    line-height: 49px;
    z-index: 3;
}
.topbtn{
    display: block;
    width: 60px;
    text-align: center;
    float: left;
    color: #777;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.chatmain .chatinput{
    position: relative;
    flex: 0 0 60px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
    z-index: 3;
}
.chatbody{
    flex: 1;
    padding: 5px 20px;
}
.chatmain .chatbody{
    overflow-y: scroll;
    padding-bottom: 15px;
}
.message{
    position: relative;
    background: white;
    color: #333;
    display: block;
    padding: 14px 22px;
    border-radius: 5px;
    max-width: 60%;
    font-size: 15px;
    margin-bottom: 10px;
    word-wrap: break-word;
}
.message.m1{
    float: left;
}
.message.m1:before {
    content: '';
    position: absolute;
    top: 13px;
    left: -10px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 10px solid white;
}
.message.m2{
    float: right;
    background: #8f37fd;
    background: -webkit-linear-gradient(-45deg, #9238fc , #c655ef);
    background: -o-linear-gradient(-45deg, #9238fc, #c655ef);
    background: -moz-linear-gradient(-45deg, #9238fc, #c655ef);
    background: linear-gradient(-45deg, #9238fc , #c655ef);
    color: white;
    border-radius: 10px;
}
.message.is_file{
    background: white;
    color: #333;
    border: 3px solid #8f37fd;
}
.message.is_image{
    padding: 3px;
    max-width: 40%;
}
.message a{
    color: #333;
}
.message .dbox {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 3px 5px;
    border-radius: 5px;
    line-height: 15px;
    text-decoration: none;
    margin-top: 5px;
    background: rgba(0, 0, 0, 0.02);
    overflow: hidden;
}
.message .dbox:first-child {
    margin-bottom: 10px;
}
.message .dbox h3 {
    margin: 0;
    font-size: 16px;
    text-decoration: none;
}
.message .dbox small {
    color: #777;
}
.message .dbox_song {
    line-height: 15px;
    background-image: url(http://lastfm-img2.akamaized.net/i/u/174s/4128a6eb29f94943c9d206c08e625904.png);
    background-repeat: no-repeat;
    background-position: 2px center;
    background-size: auto 33px;
    padding-left: 40px;
}

.message .dbox_movie {
    padding: 4px 4px;
}
.message .dbox_movie h3 {
    margin-top: 2px;
    margin-bottom: 7px;
}
.message .dbox_movie img {
    float: left;
    width: 60px;
    margin-right: 7px;
    border-radius: 3px;
}

.message .dbox_product{
    padding: 5px 9px;
    margin-bottom: 10px;
}
.message .dbox_product h3{
    margin-bottom: 4px;
}

#chatform{
    display: flex;
    height: 100%;
}
.chatmsginput{
    flex: 1;
    display: block;
    background: transparent;
    border: none;
    outline: none;
    height: 100%;
    vertical-align: middle;
    border: none;
    box-shadow: none;
    font-size: 14px;
    line-height: 18px;
}
#attachico, #sendico{
    flex: 0 0 60px;
    height: 60px;
    line-height: 59px;
    background: transparent;
    border: none;
    font-size: 28px;
    text-align: center;
    text-decoration: none;
    color: #777;
    cursor: pointer;
}
#sendico{
    color: #9238fc;
    font-size: 30px;
}
.thinking{
    display: none;
    position: absolute;
    top: -22px;
    line-height: 19px;
    font-size: 13px;
    padding-left: 2%;
}
.thinking:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: elps 1000ms infinite;
    content: "\2026";
    width: 0px;
}
.dropover{
    display: none;
}
.dropover{
    width: 95vh;
    width: 95vw;
    margin: 2.5vw 2.5vh;
    background: red;
}
body.dragging .dropover{
    display: block;
}
@keyframes elps {
  to{
      width: 13px;
  }
}
@media(max-width: 500px){
    .inner{
        width: 97%;
    }
    body.appbody, body.appbody .sec1, body.appbody .inner, body.appbody .cont{
        height: 100%;
    }
    .chatbase{
        height: 98%;
        margin: 1% auto;
    }
    .chatinfo{
        display: none;
    }
    .message{
        max-width: 100%;
        padding: 8px 14px;
    }
    .sec1.v2{
        min-height: auto;
    }
}
@media(max-width: 750px){
    .chattop .left{
        display: none;
    }
}
